<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TestDRVtransGas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<!--<runtime>
		<legacyNullReferenceExceptionPolicy enabled = "1"/>
	</runtime>-->
    <connectionStrings>
        <add name="TestLibFloBoss.Properties.Settings.ConnectionStringDevices" connectionString="Dsn=Excel Files" providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TestDRVtransGas.Properties.Settings>
            <setting name="sFileParam" serializeAs="String">
                <value>Params.prmd</value>
            </setting>
            <setting name="sFileDev" serializeAs="String">
                <value>Devices.devd</value>
            </setting>
            <setting name="dmTimeResp" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="iLeftForm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="asDataWritePar" serializeAs="String">
                <value>0 2</value>
            </setting>
            <setting name="asParameterName" serializeAs="String">
                <value>TempParName;DevDTSet</value>
            </setting>
            <setting name="iDataWritePar" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iParameterName" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="asData" serializeAs="String">
                <value>0 2;0 481 487;0 4</value>
            </setting>
            <setting name="iData" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iTypeData" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="asDeviceStat" serializeAs="String">
                <value>ERZ2004</value>
            </setting>
            <setting name="asDeviceWr" serializeAs="String">
                <value>ERZ2004</value>
            </setting>
            <setting name="iHeightForm" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="iWidthForm" serializeAs="String">
                <value>1002</value>
            </setting>
            <setting name="iTopForm" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DTArchDay" serializeAs="String">
                <value />
            </setting>
            <setting name="DTArchHour" serializeAs="String">
                <value />
            </setting>
            <setting name="DTInterfer" serializeAs="String">
                <value />
            </setting>
            <setting name="DTAlarm" serializeAs="String">
                <value />
            </setting>
            <setting name="asIPs" serializeAs="String">
                <value />
            </setting>
            <setting name="asPort" serializeAs="String">
                <value>502</value>
            </setting>
            <setting name="asIP" serializeAs="String">
                <value />
            </setting>
            <setting name="asCommand" serializeAs="String">
                <value />
            </setting>
            <setting name="IP" serializeAs="String">
                <value>127.0.0.1;localhost;192.168.226.1;192.168.111.1</value>
            </setting>
            <setting name="iPort" serializeAs="String">
                <value>503</value>
            </setting>
            <setting name="iTCPdeviceCurr" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iIntervalScan" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="iReverceValWr" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="asCOMport" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="asBaud" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="dTimeoutBetwen" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="mComPort" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="asBaudCom" serializeAs="String">
                <value>38400</value>
            </setting>
            <setting name="asIPserver" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="dmSizeBufOut" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="dmWriteTimeout" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="dmRepeatWrite" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="iIntervalSendFHPDev" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="iParity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iStopBits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="iDataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="asDirBites" serializeAs="String">
                <value>прямое</value>
            </setting>
            <setting name="DataArToWr" serializeAs="String">
                <value />
            </setting>
            <setting name="iIDstart" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DeltaDayHour" serializeAs="String">
                <value>дни</value>
            </setting>
            <setting name="as8n1To7e1" serializeAs="String">
                <value />
            </setting>
            <setting name="b7bit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bCalcBCC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bWordWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="asIPactive" serializeAs="String">
                <value>192.168.1.23</value>
            </setting>
            <setting name="asIPpassive" serializeAs="String">
                <value>10.10.195.169</value>
            </setting>
            <setting name="asIPactiveList" serializeAs="String">
                <value>192.168.1.23;127.0.0.1</value>
            </setting>
            <setting name="asIPpassiveList" serializeAs="String">
                <value>10.10.195.169</value>
            </setting>
            <setting name="iPortPassive" serializeAs="String">
                <value>7777</value>
            </setting>
            <setting name="iPortActive" serializeAs="String">
                <value>555</value>
            </setting>
            <setting name="asDevExch" serializeAs="String">
                <value>EK270</value>
            </setting>
            <setting name="asDGBite8nTo7e" serializeAs="String">
                <value />
            </setting>
            <setting name="asBtToStr" serializeAs="String">
                <value />
            </setting>
            <setting name="bChDataAsHex" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="dmSiseFontTCTtoTCT" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="asIPactiveListComP" serializeAs="String">
                <value>192.168.1.23;127.0.0.1</value>
            </setting>
            <setting name="asParityTCTtoComP" serializeAs="String">
                <value />
            </setting>
            <setting name="asIPpassiveToComP" serializeAs="String">
                <value />
            </setting>
            <setting name="asStopBitsTCPtoComP" serializeAs="String">
                <value />
            </setting>
            <setting name="asComPortToComP" serializeAs="String">
                <value />
            </setting>
            <setting name="asBaudToComP" serializeAs="String">
                <value />
            </setting>
            <setting name="asDataBit" serializeAs="String">
                <value />
            </setting>
        </TestDRVtransGas.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
